node_modules
node_modules/
dist
android
.env
.cursor

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/metamask-extension/
/results.xml


#dev
deployment/dev_mount_points/
deployment/restore/
/.idea/
