# PORT=3000
HOST=0.0.0.0
admin_wallet=0x
BACKEND_VERSION=3.2.0
FRONTEND_VERSION=3.2.0
AQUIFIER_VERSION=3.2.0
PROTOCOL_VERSION=3.2.0
FRONTEND_URL=127.0.0.1:3600
BACKEND_URL=127.0.0.1:3000

DB_USER=aquafier
DB_PASSWORD=changeme
POSTGRES_DB=aquafier

# psql conn string for prisma 
DATABASE_URL="postgresql://user:password@localhost:5432/aquafier_js?schema=public"

#letsencrypt
LETSENCRYPT_EMAIL=hello@inblock.io

BASE_URL=http://localhost:3000 # change to your domain name, playwright tests will default to `https://dev.inblock.io` if this is not set 