{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 6,
  "trailingComma": "es5",
  "printWidth": 200,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "useTabs": false,
  "bracketSameLine": false,
  "quoteProps": "as-needed"
  
}